svg, body{
	font-family: Lato;
}
body{
    color: #000;
}
#mapColumn{
    width: 650px;
    /*width: 270;*/
    display: inline-block;
}
#barColumn{
    display: inline-block;
    top: -20px;
    position: relative;
}
#mapContainer{
	display: inline-block;
    position: relative;
    bottom: 0;
    width: 650px;
    /*width: 270px;*/
    height: 390px;
    float: left;
}
#barChartContainer{
    position: relative;
	display: inline-block;
    bottom: 0;
    /*width: 300px;*/
    /*height: 600px;*/
    float: left;
    cursor: pointer;
}
#hiddenDataContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}


/*********************************************************************************/
/******************************      TAB WRAPPER      ****************************/
/*********************************************************************************/
#baselineTabs{
    width: 100%;
    height: 45px;
    margin-bottom: 45px;
}
#baselineTabs.county{
    border-bottom: 2px solid #D2D2D2;
}
#baselineTabs.cbsa{
    border-bottom: 2px solid #D2D2D2;
}
.baselineTab{
    height: 27px;
    display: inline-block;
    float: right;
    padding: 9px;
    padding-bottom: 2px;
    /*background: green;*/
    width: 90px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background: #f5f5f5;
    margin-bottom: 40px;
    margin-top: 5px;
    cursor: pointer;
    border-top: 2px solid #D2D2D2;
    border-left: 2px solid #D2D2D2;
    border-right: 2px solid #D2D2D2;
    border-bottom: 2px solid #D2D2D2;
}
.baselineTab.county{
    margin-right: 19px;
}
.baselineTab.cbsa{
    margin-right: calc(50% - 123px);
}
.baselineTab.active{
    background: #fff;
    font-weight: bold;
}
.baselineTab.active{
    color: #1696D2;
    border-top: 2px solid #D2D2D2;
    border-left: 2px solid #D2D2D2;
    border-right: 2px solid #D2D2D2;
    border-bottom: 2px solid #fff;
}
.baselineTab.disabled{
    color: #9d9d9d;
    pointer-events: none;
}



/**********************************************************/
/************************** Tooltip ***********************/
/**********************************************************/
#mapTitle{
    font-weight: 300;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin-bottom: 29px;
}
.mapSubhed{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #353535;
    margin-bottom: 3px;
}
.mapSubhed.industry span{
    font-size: 14px;
    display: block;
    font-style: italic;
}
.tt-cell{
    display: inline-block;
    height: 36px;
    display: block;
    float: left;
}
.tt-cell.us{
    width: 176px;
}
.tt-cell.baseline{
    display: none;
    position: relative;
}
.tt-cell.baseline div{
    padding-top: 3px;
}
.tt-cell.tract{
    display: none;
}
.tt-cell.tract div{
    top: -2px;
    position: relative;
}
.tt-geo{
    font-size: 14px;
    color: #353535;
    display: inline-block;
    margin-right: 10px;
}
.tt-geo.baseline{
    max-width: 230px;
    margin-right: 13px;
}
.tt-val{
    font-size: 14px;
    line-height: 27px;
    color: #1696D2;
    display: inline-block;
}
.tt-val.baseline{
    top: -5px;
    position: absolute;
}
.tt-row{
    margin-bottom: 20px;
    display: block;
}
.tt-row.all{
    margin-top: 78px;
}
.tt-row.industry{
    display: none;
    clear: both;
    float: left;
    margin-top: 12px;
    width: 100%;
    margin-bottom: 10px;
}
.tt-cell.tract{
    float: right;
}
/**********************************************************/
/**************************** MAP *************************/
/**********************************************************/

#zoomOutIcon{
    float: right;
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    color: #1696d2;
    cursor: pointer;
    opacity: 0;
}
.baselineControl{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #9d9d9d;
    color: white;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.baselineControl:hover{
    background: #353535;
}
.baselineControl.active{
    background: #1696d2;
}
.baselineControl.active:hover{
    background: #0a4c6a;
}
.baselineControl.disabled{
    background: #d2d2d2;
    color: #9d9d9d;
    pointer-events: none;
}
#legendContainer{
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    background: rgba(255,255,255,.8);
    height: 64px;
    bottom: 5px;
    left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#legendTitle{
    display: block;
    font-size: 13px;
    /* font-style: italic; */
    color: #333;
    font-weight: bold;
    margin-bottom: 4px;
}
.mapboxgl-ctrl-logo{
    margin-left: 500px !important;
}
.lKey{
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
}
.lLabel{
    position: absolute;
    top: 19px;
    right: -4px;
    font-size: 12px;
}
.ll18{
    display: none;
}
.ll0{
    left: 8px;
    top: 51px;
}

/**********************************************************/
/************************ BAR CHART ***********************/
/**********************************************************/
#allContainer{
    background: rgba(207,232,243,.55);
    padding: 5px 8px;
    margin-left: 9px;
    margin-top: 17px;
    cursor: pointer;
}
#barChartContainer svg{
    margin-top: 16px;
}
#barTitleContainer{
    height: 17px;
    position: relative;
}
#barTitle{
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
}
#barTotalCount{
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #1696D2;
}
.chartEl{
	stroke-width: 2px;
}
.X14.chartEl{
    opacity: 0 !important;
}
.baseline.chartEl{
	stroke: #1696d2;
}
.dot.chartEl{
	fill: #fff;
}
.tract.chartEl{
	stroke: #fdbf11;
}
.industryLabel{
	font-size: 12px;
}

.axis.x path{
    display: none;
}
.axis.x line{
    stroke: #dedddd;
}
#barAxisLabel{
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 80px;
    margin-top: 11px;
}



#isMobile, #isPhone, #mm-title, #mm-disclaimer{
    display: none;
}
#mobileMenu{
    display: block;
    margin-left: 18px;
    height: 220px;
    width: 370px;
    position: absolute;
    top: 138px;
    left: -10px;
}
#mobileMenu input{
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #696969;
    text-overflow: ellipsis;
    font-style: italic;
    color: #9d9d9d;
}
#mobileMenu input.active{
    color: #333;
    font-style: normal;
}
#mm-title{
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 12px;
}
#mm-disclaimer{
    font-style: italic;
    font-weight: bold;
    color: #1696d2;
    margin-top: 10px;
}
#cbsaSearch{
    display: none;
}
#countySearch{
    display: block;
}

#mm-industryContainer{
    display: none;
}
#mm-industryContainer{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
#mm-industryVal{
    color: #1696d2;
    font-weight: normal;
}
#mm-industryLabel{
    margin-top: 8px;
}

@media(max-width: 995px){
    #isMobile{
        display: block;
    }
    #mobileMenu{
        left: calc(50% - 318px);
    }
.mapboxgl-ctrl-bottom-right {
    right: 0;
    bottom: 50px;
}
    #mapColumn{
        width: 270px;
        margin-left: calc(50% - 300px);
    }
    #mapTitle{
        white-space: nowrap;
    }
    #barColumn{
        top: 38px;
    }
    .tt-cell.tract {
        float: left;
    }
    .tt-cell{
        height: 27px;
    }
    #mapContainer{

    }
/*    #barColumn{
        display: inline-block;
        top: -20px;
        position: relative;
    }
*/    #mapContainer{
        width: 270px;
    }
.mapboxgl-ctrl-logo{
    margin-left: -9px !important;
    top: -350px;
    position: relative;}
}
@media(max-width: 630px){
    #isPhone, #mm-title, #mm-disclaimer{
        display: block;
    }
    #isMobile{
        display: none;
    }
    #mm-industryContainer{
        display: block;
    }
    #barColumn {
        top: -32px;
    }
    #mapColumn{
        display: none;
    }
    #allContainer{
        background: transparent;
    }
    #mobileMenu{
        display: block;
        width: auto;
        position: relative;
        top: auto;
        left: auto;
    }
    #allContainer{
        width:262px;
    }

}`