svg, body{
	font-family: Lato;
}
body{
    color: #000;
}
#mapColumn{
    width: 650px;
    display: inline-block;
    float: left;
}
#barColumn{
    display: inline-block;
    float: left;
}
#mapContainer{
	display: inline-block;
    position: relative;
    bottom: 0;
    width: 650px;
    height: 390px;
    float: left;
}
#barChartContainer{
    position: relative;
	display: inline-block;
    bottom: 0;
    /*width: 300px;*/
    /*height: 600px;*/
    float: left;
    cursor: pointer;
}
#hiddenDataContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}


/**********************************************************/
/************************** Tooltip ***********************/
/**********************************************************/
#mapTitle{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.mapSubhed{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #353535;
}
.tt-cell{
    display: inline-block;
    margin-right: 40px;
}
.tt-cell.baseline{
    display: none;
}
.tt-cell.tract{
    display: none;
}
.tt-geo{
    font-size: 14px;
    color: #353535;
    display: inline-block;
    margin-right: 10px;
}
.tt-val{
    font-size: 14px;
    line-height: 27px;
    color: #1696D2;
    display: inline-block;
}
.tt-row{
    margin-bottom: 20px;
    display: block;
}
.tt-row.industry{
    display: none;
}
/**********************************************************/
/**************************** MAP *************************/
/**********************************************************/

#zoomOutIcon{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
}
.baselineControl{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #9d9d9d;
    color: white;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.baselineControl:hover{
    background: #353535;
}
.baselineControl.active{
    background: #1696d2;
}
.baselineControl.active:hover{
    background: #0a4c6a;
}
.baselineControl.disabled{
    background: #d2d2d2;
    color: #9d9d9d;
    pointer-events: none;
}

/**********************************************************/
/************************ BAR CHART ***********************/
/**********************************************************/
#allContainer{
    background: rgba(207,232,243,.55)
}
#barTitle{
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    width: 320px;
}
#barTotalCount{
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #1696D2;
}
.chartEl{
	stroke-width: 2px;
}
.baseline.chartEl{
	stroke: #1696d2;
}
.dot.chartEl{
	fill: #fff;
}
.tract.chartEl{
	stroke: #fdbf11;
}
.X14.chartEl{
    opacity: 0 !important;
}
.industryLabel{
	font-size: 12px;
}

.axis.x path{
    display: none;
}
.axis.x line{
    stroke: #dedddd;
}
#barAxisLabel{
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 170px;
}